{% extends 'base.html.twig' %}

{% block title %}Update Element{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <section class="section-p1">
        <div class="info">
            <h1> Update Element: {{ element.name }} </h1>
            <a href="{{ path('element_home') }}"><button class="btn btn-primary">Back</button></a>
        </div>
        
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
        {{ form_end(form) }}

    </section>
{% endblock %}