{% extends 'base.html.twig' %}

{% block title %}New Element{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    
    <section class="section-p1">
        <div class="add-header">
            <h1> Add New Element </h1>
            <a href="{{ path('element_home') }}"><button class="btn btn-primary">Back</button></a>
        </div>
        
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

    </section>
{% endblock %}